<div class="sidebar-wrapper">
    <div class="title-group">
        <span class="title">在线课堂</span>
        <a href="">更多</a>
    </div>
    <div class="advertise-group">
        <a href=""><img src="{% static 'images/advertise1.jpg' %}" alt=""></a>
    </div>
    <div class="title-group">
        <span class="title">关注我们</span>
    </div>
    <div class="focus-group">
        <ul class="social-group">
            <li class="zhihu"><a href="" target="_blank">关注小饭桌创业课堂</a></li>
            <li class="weibo"><a href="" target="_blank">关注小饭桌创业课堂</a></li>
            <li class="toutiao"><a href="" target="_blank">关注小饭桌</a></li>
        </ul>
        <div class="gzh-group">
            <p class="desc">扫码关注微信公众号</p>
        </div>
    </div>
    <div class="title-group">
        <span class="title">热点推荐</span>
    </div>
    <div class="hot-news-group">
        <ul class="hot-news">
            <li class="news-content">
                <div class="title"><a href="">赵薇真敢说！《演员请就位》仅上映2天，就发微博吐槽节目组</a></div>
                <div class="more">
                    <span class="category">娱乐</span>
                    <span class="pub-time">2019-10-14 09:35:16</span>
                </div>
            </li>
            <li class="news-pic"><a href=""><img src="{% static 'images/news2.jpg' %}" alt=""></a></li>
        </ul>
    </div>
</div>
