{% extends 'xfz_backend/base.html' %}
{% load static %}

{% block title %}
    {% if course %}
        修改课程
    {% else %}
        发布课程
    {% endif %}
{% endblock %}

{% block head %}
    <script src="{% static 'ueditor/ueditor.config.js' %}"></script>
    <script src="{% static 'ueditor/ueditor.all.min.js' %}"></script>
    <script src="{% static 'js/backend/course_publish.min.js' %}"></script>
{% endblock %}

{% block content-header %}
    <h1>
        {% if course %}
            修改课程
        {% else %}
            发布课程
        {% endif %}
    </h1>
{% endblock %}

{% block content %}
    <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">编辑课程</h3>
                </div>
                <form role="form">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="course_title">标题</label>
                            {% if course %}
                                <input type="text" class="form-control" name="course_title" id="course_title" value="{{ course.title }}" placeholder="请输入课程标题">
                            {% else %}
                                <input type="text" class="form-control" name="course_title" id="course_title" placeholder="请输入课程标题">
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="course_category" class="category">分类</label>
                            <select class="form-control" name="course_category" id="course_category">
                                {% for category in categories %}
                                    {% if course and course.category_id == category.pk %}
                                        <option value="{{ category.pk }}" selected>{{ category.name }}</option>
                                    {% else %}
                                        <option value="{{ category.pk }}">{{ category.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="teacher">讲师</label>
                            <select class="form-control" name="teacher" id="teacher">
                                {% for teacher in teachers %}
                                    <option value="{{ teacher.pk }}">{{ teacher.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="video_url">视频地址</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="video_url" id="video_url" placeholder="视频地址">
                                <span class="input-group-btn">
                                    <label class="btn btn-default btn-file"><input hidden type="file" class="btn btn-default" id="upload_video">上传视频</label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group" id="progress-group" style="display:none">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">0%</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cover_url">封面图</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="cover_url" id="cover_url" placeholder="封面图地址">
                                <span class="input-group-btn">
                                    <label class="btn btn-default btn-file"><input hidden type="file" class="btn btn-default" id="upload_cover">上传图片</label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price">价格</label>
                            <input type="text" class="form-control" name="price" id="price" placeholder="价格">
                        </div>
                        <div class="form-group">
                            <label for="duration">时长</label>
                            <input type="text" class="form-control" name="duration" id="duration">
                        </div>
                        <div class="form-group">
                            <label for="">简介</label>
                            {% if course %}
                                <script id="editor" type="text/plain">
                                    {{ course.content|safe }}
                                </script>
                            {% else %}
                                <script id="editor" type="text/plain"></script>
                            {% endif %}
                        </div>
                        <div class="form-group" id="progress-group" style="display:none">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">0%</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        {% if course %}
                            <button type="submit" data-course-id="{{ course.pk }}" id="submit-btn" class="btn btn-primary float-right">修改课程</button>
                        {% else %}
                            <button type="submit" id="submit-btn" class="btn btn-primary float-right">发布课程</button>
                        {% endif %}
                    </div>
                </form>
            </div>
          </div>
        </div>
{% endblock %}
