{% extends 'xfz_backend/base.html' %}
{% load static %}

{% block title %}
    课程分类
{% endblock %}

{% block head %}
    <script src="{% static 'js/backend/course_category.min.js' %}"></script>
{% endblock %}

{% block content-header %}
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1>课程分类</h1>
        </div>
        <div class="col-sm-6">
            <button type="button" id="add-btn" class="btn btn-primary float-right">添加分类</button>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title">分类列表</h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                      <i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <div class="card-body p-0" style="display: block;">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>分类名称</th>
                        <th>课程数量</th>
                        <th class="text-right">操作</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr data-pk="{{ category.pk }}" data-name="{{ category.name }}">
                            <td>{{ category.name }}</td>
                            <td>{{ category.amount }}</td>
                            <td class="text-right py-0 align-middle">
                              <div class="btn-group btn-group-sm">
                                <a href="#" class="btn btn-info edit-btn"><i class="fa fa-eye"></i></a>
                                <a href="#" class="btn btn-danger delete-btn"><i class="fa fa-trash"></i></a>
                              </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
          <a href="#" class="btn btn-secondary">取消更改</a>
          <input type="submit" value="保存更改" class="btn btn-success float-right">
        </div>
    </div>
{% endblock %}